<footer>
    <div class="row">
        <div class="col">
            <img src="images/5.png" class="logo">
            <p> Grâce à ses fonctionnalités innovantes, JOININI ambitionne de créer une communauté de voyageurs connectés, redécouvrant leur région autrement.</p>
        </div>
        <div class="col">
            <h3>Office <div class="underline"><span></span></div></h3>
            <p>R4MX+H65</p>
            <p>Rue bechir salem belkhiria, Tunis</p>
            <p>PIN 560066, Tunisia</p>
            <p class="email-id">joininigmail.com</p>
            <h4>+216 98 123 456</h4>
        </div>
        <div class="col">
            <h3>Links <div class="underline"><span></span></div></h3>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/destination">Services</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Socials <div class="underline"><span></span></div></h3>
          <!--  <form>
              <i style="font-size: 15px; margin-right: 10px;" class="fa-solid fa-envelope" ></i>
                <input type="email" placeholder="Enter your mail here" required>
                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-whatsapp"></i>   
                <i class="fa-brands fa-pinterest-p"></i>
            </div>-->
            <i class='bx bxl-facebook-circle' style="font-size: 50px;padding-right: 2%;"></i>
            <i class='bx bxl-instagram-alt' style="font-size: 50px;padding-right: 2%;"></i>
            <i class='bx bxl-twitter' style="font-size: 50px;" ></i>
        </div>
    </div>
    <hr>
    <p class="copyright">© 2023 Joinini. All rights reserved. Your adventure starts here!</p>
</footer>