<div class="card" style="width: 18rem;" [ngClass]="{'bg': destination.rating > 4.5 , 'br': destination.rating<= 4.5}">
  <img [src]="getImageUrl(destination.image)" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{destination.name}}</h5>
    <p class="card-text">
      Country: {{destination.country}} <br>
      Description: {{destination.description}}
    </p>
    <div >
      <a [routerLink]="['/destdetail',destination._id]" class="btn btn-primary ">Joinini</a>
      <button class="btn btn-outline-secondary me-2" (click)="onEdit()">
        <i class="fas fa-edit"></i> 
      </button>

      <button class="btn btn-danger" (click)="onDelete()">
        <i class="fas fa-trash"></i> <!-- Icône de corbeille -->
      </button>
    </div>
  </div>
</div>