<div class="top-image-bg"></div>
@if(user){
<div class="profile-card" >
  <div class="profile-header">
    <div class="profile-actions">
    </div>
    <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/original/user-icon-on-transparent-background-free-png.png" alt="Profile Picture" class="profile-pic" />
  </div>

  <div class="profile-content">
    <h2 class="profile-name">{{ user?.name }}</h2>
    <p class="profile-title">{{ user?.role  }}</p>
    <p class="profile-education">{{ user?.email }}</p>

   
  </div>
</div>
}