<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1"><img src={{destination.image}} /></div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{destination.name}}</h3>
                    <p class="product-description">{{destination.desc}}</p>
                    <h5 class="colors">location :{{destination.location}}</h5>
                    <h5 class="colors">price range :{{destination.price_range}}</h5>
                    <h5 class="colors">rating :{{destination.rating}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="date-section">
                    <label for="arrivee" >Arrivée</label>
                    <input type="date" id="arrivee" name="arrivee">
                </div>
                <div class="date-section">
                    <label for="depart">Départ</label>
                    <input type="date" id="depart" name="depart" class="depart" >
                </div>
                <button routerLink="/groupe">Vérifier la disponibilité d’un groupe</button>
            </div>
        </div>
    </div>
</div>

